.name {
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-weight: 700;
    letter-spacing: 2px; 
    color: #2C2C2C;
}

.card {
    background-color: #E0E0E0;
    min-height: 12vh ;
    margin: 20px;
    padding: 15px;
}

.position {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    text-align: center;
}

.description {
    text-align: justify;
    word-break: break-word;
    text-align-last: justify;
}